@import "bootstrap";

.alert {
   position: absolute;
   width:100%;
   z-index: 1000;
   margin-top: -20px;
}

.platform.checked {
  background-color: red;
}

.platform {
  input {
    display: none;
  }
}

.badge.platform {
  cursor: pointer;
}

.other_stats {

  ul {
    list-style-type: none;
  }

  .stat_titles {
    font-weight: bold;
    text-align: right;
  }
}

.login {
  background: #f8f8f8;
  border-radius: 10px;
  padding: 20px;
  
  .twitch {
    opacity: 0.4;
  }
  
  .steam {
    opacity: 0.4;
  }
}