@import 'bootstrap';

// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#yourgamelist {
  th {
    text-align: center;
  }

  td {
    padding: 10px;
  }

  .game-status {
    input {
      margin-right: 3px;
    }

    label {
      margin-right: 5px
    }
  }
}

